.w3-container.search-container
  input(class="w3-input w3-border w3-round" type="text" id="search" placeholder="Produto" autocomplete="off")
  .autocomplete-suggestions(class="w3-input w3-border w3-round" id="suggestions-container")

style.
  .w3-container .autocomplete-suggestions {
    display: none;
    background-color:rgb(255, 255, 255) !important; 
    color: #000; 
  }

script.
  const suggestions = !{JSON.stringify(suggestions)};

  const searchInput = document.getElementById('search');
  const suggestionsContainer = document.getElementById('suggestions-container');

  searchInput.addEventListener('input', function() {
    const query = searchInput.value.toLowerCase();
    suggestionsContainer.innerHTML = '';

    if (query) {
      const filteredSuggestions = suggestions.filter(item => item.toLowerCase().includes(query));

      if (filteredSuggestions.length > 0) {
        suggestionsContainer.style.display = 'block'; 
        filteredSuggestions.forEach(suggestion => {
          const suggestionItem = document.createElement('div');
          suggestionItem.classList.add('autocomplete-suggestion');
          suggestionItem.textContent = suggestion;
          suggestionItem.onclick = () => {
            searchInput.value = suggestion;
            suggestionsContainer.innerHTML = '';
            suggestionsContainer.style.display = 'none';
          };
          suggestionsContainer.appendChild(suggestionItem);
        });
      } else {
        suggestionsContainer.style.display = 'none'; 
      }
    } else {
      suggestionsContainer.style.display = 'none';
    }
  });
