.w3-container.search-container
  form(action='/search', method='POST', id='searchForm')
    input.w3-input.w3-border(type='text', id='search', name='search', placeholder='Produto', autocomplete='off')
    .autocomplete-suggestions(id='suggestions-container')

style.
  .w3-container .autocomplete-suggestions {
    display: none;
    background-color:rgb(255, 255, 255) !important; 
    color: #000; 
    max-height: 700px;
    overflow-y : scroll;
  }

script.
  const suggestions = !{JSON.stringify(suggestions)};

  const searchInput = document.getElementById('search');
  const suggestionsContainer = document.getElementById('suggestions-container');
  const form = document.querySelector('form');

  searchInput.addEventListener('input', function() {
    const query = searchInput.value.toLowerCase();
    suggestionsContainer.innerHTML = '';

    if (query) {
      const filteredSuggestions = suggestions
        .filter(item => item.product_dsc.toLowerCase().includes(query.toLowerCase()))
        .sort((a, b) => {
          const aStarts = a.product_dsc.toLowerCase().startsWith(query.toLowerCase());
          const bStarts = b.product_dsc.toLowerCase().startsWith(query.toLowerCase());
          return bStarts - aStarts; // Prioriza os que começam com o termo
        });

      if (filteredSuggestions.length > 0) {
        suggestionsContainer.style.display = 'block'; 
        filteredSuggestions.forEach(suggestion => {
          const suggestionItem = document.createElement('div');
          suggestionItem.classList.add('autocomplete-suggestion');
          suggestionItem.textContent = suggestion.product_dsc;
          suggestionItem.onclick = () => {
            searchInput.value = JSON.stringify(suggestion);
            suggestionsContainer.innerHTML = '';
            suggestionsContainer.style.display = 'none';
            form.submit();
            searchInput.value = suggestion.product_dsc;
          };
          suggestionsContainer.appendChild(suggestionItem);
        });
      } else {
        suggestionsContainer.style.display = 'none'; 
      }
    } else {
      suggestionsContainer.style.display = 'none';
    }
  });