extends layout

block content
  .w3-container(style= "min-height: 800px;")
    h1
      b= title
    p
    if cabazes && cabazes.length > 0
        table.w3-table-all
          tr.w3-red.w3-text-black
            th Cabaz
            th Preço
          each cabaz in cabazes
            tr
              td= cabaz.name
              td= cabaz.price
    p
