extends layout

block content
  .w3-container
    h1
      b= title
    p Welcome to #{title}
    p
    table.w3-table-all
            tr.w3-red.w3-text-black
                th Cabaz
                th Produtos
                th Concorrência
                th Preço
            tr
                td OI
                td
                    ul.w3-ul
                        li oi
                        li ai
                td A
                td fff
            tr
                td OI
                td
                    ul.w3-ul
                        li oi
                        li ai
                td A
                td fff
    p