extends layout

block content
  .w3-container(style= "min-height: 85vh;")
    if m
      h1
        b= m
    else
      h1
        b= message
      h2
        b= error.status
      //pre #{error.stack}
