extends layout

block content
  .w3-container(style="min-height: 86vh; display: flex; justify-content: center; align-items: center; flex-direction: column;")
    img(src='/images/Logo_Continente.svg', width='800')
    p
    h1.w3-sans-serif.w3-text-red
      b Otimização de Preços