doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/contratos.png')
    meta(charset='utf-8')
  body
    .w3-card-4
      header.w3-bar.w3-green.w3-text-black.w3-bottombar.w3-border-green
        h1
          span.w3-bar-item.w3-left= title
          if title != "Contratos"
            a.w3-bar-item.w3-right.w3-hover-text-white(href='/') Voltar
      block content
      footer.w3-container.w3-large.w3-black.w3-text-green
        adress
          span Gerado por 
            b BUGBUSTERS 
          span em #{date}
