extends layout

block content
  .w3-container(style= "min-height: 800px;")
    h1
      b= title
    p

    if suggestions && suggestions.length>0
      include components/searchBar.pug

    else
      if prices && prices.length > 0
        table.w3-table-all
          tr.w3-red.w3-text-black
            th Loja
            th Preço
          each price in prices
            tr
              td= price.store
              td= price.price
    p
